.item_wrap {
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}

.item_image {
  flex: 200px 0 0;
}

.item_name {
  display: block;
  font-size: 24px;
  margin-top: 20px;
}

.item_info {
  flex: 1 0 0;
}

.item_info_text {
  display: block;
  font-size: 24px;
  margin: 20px 0 40px;
}

.item_price {
  display: block;
  font-size: 34px;
  margin-top: 20px;
  color: #00bcd4;
}
